* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5ECDF;
    z-index: 0;
    color: #222925;
}

body a {
    text-decoration: none;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    padding: 15px;
}

h2 a {
    text-decoration: none;
    color: #222925;
}

.line {
    height: 4px;
    background-color: #222925;
}

nav {
    padding-top: 40px;
}

.menu-for-desktop {
    display: none;
}

.introduction {
    margin: 40px;
    border: solid 4px #222925;
    display: grid;
}

.logo-mobile {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.line {
    width: 300px;
    height: 17px;
    margin-bottom: 5%;
    background-color: #A4BFBA;
    border: solid 4px #222925;
    text-align: right;
}

.line1 {
    width: 200px;
}

.menu {
    border: solid 4px #222925;
    margin: 40px;
    margin-top: 80px;
}

.mainmenu {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #F5ECDF;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    overflow-y: scroll;
}


nav li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5em;
    list-style: none;
    padding: 25px;
    border-bottom: solid 4px #222925;
}

nav li:last-child {
    border-bottom: none;
}

nav ul li a {
    text-decoration: none;
    color: #222925;
}

.nav-links {
    border: solid 4px #222925;
    margin: 40px;
}

.buttons {
    display: grid;
    grid-template-areas: 
    "close-button close-button"
    "lt en"
    "hc hc";
    align-items: center;
    border: solid 4px #222925;
    margin: 40px;
}

.close-button {
    grid-area: close-button;
    border-bottom: solid 4px #222925;
}

.lt {
    grid-area: lt;
    border-right: solid 4px #222925;
}

.en {
    grid-area: en;
}

.hc {
    grid-area: hc;
    text-align: center;
    border-top: solid 4px #222925;
}

.logo {
    display: flex;
}

.wasp {
    width: 65px;
}

.honeycoasta {
    width: 190px;
}

/* artist background section starts here */

.content {
    margin-left: 40px;
    margin-right: 40px;
}

.artist-background {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vl {
    border-left: 4px solid #222925;
    height: 100%;  
}

h1 {
    font-family: 'archivo';
    font-size: 25px;
    color: #222925;
    margin-bottom: 20px;
    width: 97%;
}

p{
    font-family: 'Montserrat';
    color: #222925;
    font-size: 20px;
    width: 90%;
    text-align: left;
}

.honeycoasta-field {
    border: #222925 solid 4px;
     width: 270px;
     margin-top: -40px;
     margin-bottom: 20px;
}

.honeycoasta-glasses {
    border: #222925 solid 4px;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 270px;
}

.honey {
    margin-top: -50px;
    width: 35%;
    margin-left: 190px;
    z-index: 2;
}

.animation {
    display: flex;
    flex-direction: column;
}

#readmorebtn , #readmorebtn2, #readmorebtn3 {
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: bold;
}

.readmore {
    margin-top: 20px;
    padding: 11px;
    height: 50px;
    background-color: transparent;
    border-color: #222925;
    border-width: 3px;
}

#more {display: none;}
#more2 {display: none;}
#more3 {display: none;}

hr{
    border-top: 4px solid #222925;
    margin-bottom: 30px;
    width: 100%; 
}

/* artist background section end here */

/* meaning behind name section starts here */

.road {
    width: 100%;
    border: #222925 solid 4px;
    margin-top:20px ;
    margin-bottom: 40px;
}

.meaning-behind-name h1 {
    text-align: right;
    margin-bottom: 50px;
}

.logoimg {
    width:80%;
    margin-left: 10%;
}

.meaning-behind-name-flex {
    display: flex;
    flex-direction: row;
}

.meaning-behind-name-flex p {
    padding-left: 20px;
    padding-bottom: 20px;
    width: 100%;
}

/* meaning behind name section ends here */

/* inspirations section starts here */

.inspirations {
    display: flex;
    flex-direction: column;
}

.inspirations h1 {
    text-align: right;
}

.inspirations p {
    width: 97%;
    margin-left: 5%;
}

.rightbtn {
    text-align: right;
}

/* inspirations section ends here */

.transition {
    display: flex;
}

.vl-transition {
    border-left: 4px solid #222925;
    height: 100%;  
    margin-left: 5%; 
    height: 160px;
}

/* transition section starts here */

.star {
    margin-top: -15px;
    width: 50%;
}

/* transition section ends here */

/* playlist section starts here */

.playlist h1 {
    text-align: center;
}

.playlist-box {
    background-color: #537358;
    margin-bottom: 30px;
}

h3 {
    color: #F5ECDF;
    font-family: 'archivo';
    margin-bottom: 3px;
    font-size: 14px;
}

h4 {
    color: #F5ECDF;
    font-family: 'Montserrat';
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 14px;
}

.playlist-text {
    padding: 30px;
}

.spotify-btn {
    display: block;
    background-color: transparent;
    color: #222925;
    border: 3px solid #222925;
    margin: 10px 0px 70px;
    width: 170px;
    padding: 12px;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: bold;
    text-align: center;
 
}

/* playlist section ends here */

/* footer starts here */

footer {
    border: solid 4px #222925;
    margin: 40px;
    margin-bottom: 40px;
}

footer h2 {
    padding: 25px;
    font-size: 1.2em;
}

.terms {
    grid-area: terms;
    border-bottom: solid 4px #222925;
}

.policy {
    grid-area: policy;
    border-bottom: solid 4px #222925;
}

.cookies {
    grid-area: cookies;
    border-bottom: solid 4px #222925;
}

.footer-logo {
    grid-area: footer-logo;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 240px;
}

.footer-line {
    grid-area: footer-line;
    height: 4px;
    width: 165px;
    background-color: #222925;
}

.copy {
    grid-area: copy;
    padding: 0;
}

.tiktok {
    grid-area: tiktok;
}

.ig {
    grid-area: ig;
    border-top: solid 4px #222925;
    border-right: solid 4px #222925;
}

.soundcloud {
    grid-area: soundcloud;
    border-top: solid 4px #222925;
}

.apple {
    grid-area: apple;
    border-top: solid 4px #222925;
    border-right: solid 4px #222925;
}

.spotify {
    grid-area: spotify;
    border-top: solid 4px #222925;
}

.footer-grid {
    display: grid;
    grid-template-areas: 
    "cookies cookies"
    "terms terms"
    "policy policy"
    "footer-logo footer-logo"
    "footer-line copy"
    "tiktok ."
    "ig soundcloud"
    "apple spotify";
    justify-content: center;
    align-items: center;
}

/* footer ends here */

.title {
    display: none;
}

.vl_desktop {
    display: none;
}

.vl-road {
    display: none;
}

.fuzzy {
    display: none;
}

.circle {
    display: none;
}

.flowers {
    display: none;
}

.playlist-song, .playlist-artist, .playlist-album {
    display: none;
}

@media(min-width: 1440px) {

    /* navigation starts here */

    .buttons {
        grid-template-areas: 
        "close-button"
        "lt"
        "en"
        "hc";
        grid-template-rows: 1fr 1fr 1fr 3fr;
    }

    .buttons2 {
        grid-template-areas: 
        "close-button"
        "lt"
        "en"
        "hc";
        grid-template-rows: 1fr 1fr 1fr 3fr;
        position: fixed;
    }

    nav li {
        padding: 3%;
    }

    .nav1 {
        width: 50%;
    }

    .nav2 {
        width: 70%;
    }

    .nav4 {
        width: 40%;
    }

    .nav5 {
        width: 60%;
    }

    nav li:last-child {
        border-bottom: solid 4px #222925;
        width: 90%;
    }

    .honeycoasta {
        width: 150px;
    }

    .wasp {
        display: none;
    }

    .lt, .en, .close-button,.menu-button {
        font-size: 1em;
        padding: 55px;
    }

    .buttons > * {
        transform: rotate(-90deg);
    } 

    .mainmenu {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr 5fr;

    }

    .navigation {
        height: 100vh;
        padding: 0;
        padding-top: 10vh;
        z-index: 100;
    }

    .hc {
        border-top: none;
    }

    .en {
        border-right: solid 4px #222925;
        border-left: solid 4px #222925;
    }

    .lt {
        border-right: solid 4px #222925;
    }

    .close-button {
        border-bottom: none;
    }

    nav {
        padding-top: 0;
    }

    .navigation {
        position: fixed;
    }

    .buttons, .nav-links {
        height: 90vh;
    }

    .menu-for-desktop {
        display: block;
        position: fixed;
    }

    .menu {
        display: none;
    }

    /* navigation end here */

    .wrapper {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr 5fr;
        grid-template-areas: 
        "sidebar content"
        ". footer";
    }

    .sidebar {
        grid-area: sidebar;
    }

    .content {
        grid-area: content;
        border: #222925 solid 4px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .footer {
        grid-area: footer;
    }

    /* artist background section starts here */

    .artist-background {
        display: block;
    }

    .desktop_block {
        margin: 0px 100px 0px 100px;
        display: grid;
        grid-template-areas: 
        "title . ."
        "lefttext line rightpicture"
        "leftpicture line righttext";
        grid-template-columns: 9fr 1.4fr 9fr ;
        grid-template-rows: 1fr 1fr;
        height: 700px;
    }

    .vl_desktop {
        display: block; 
        border-left: 4px solid #222925;
        height: 92%;
        grid-area: line;  
        margin-top: 67px;
    }

    p{
        width: 100%;
    }

    .p-left  {

        grid-area: lefttext;
        margin-top: 80px;
        margin-left: 10%;
        width: 90%;
        padding-right:5%;
    }

    .p-right {
        grid-area: righttext ;
        width: 90%;
    }

    .honeycoasta-field {
        width: 300px;
        grid-area: rightpicture;
        margin-top: 80px;
        margin-bottom: 40px;
    }

    .artist-background h1 {
        padding: 3px;
    }

    .honeycoasta-glasses {
        width: 300px;
        margin-left: 20%;
        grid-area: leftpicture;
        margin-top: -150px;
    }

    .honey  {
        margin-left: 270px;
        margin-bottom: -36%;
        margin-top: 40px;
    }
    
    .animation {
        grid-area: rightpicture;
        width: 100%;
        height: 100%;
    }

    .title {
        display: block;
        padding: 20px;
        width: 70%;
        background-color: #BF5123;
        margin-top: 50px;
        margin-left: 10%;
        border: #222925 4px solid;
        grid-area: title;

    }

    .title h1 {
        color: #F5ECDF;
        text-align: center;
        width: auto;
        margin: auto;
  
    }

     /* artist background section ends here */

    /* meaning behind name section starts here */

    .road {
        display: block;
        width: 60%;
        margin: 300px auto auto 15%;
    }
    
    .vl-road{
        display: block;
        border-left: 4px solid #222925;
        margin-left: 47%; 
        margin-top: 25px;
        height: 200px;
    }

    .fuzzy {
        display: block;
        margin-left: 80%;
        margin-top: -10%;
    }

    .circle {
        display: block;
        margin-left: 100px;
        
    }

    .meaning-behind-name h1 {
        margin-left: -390px;
        margin-bottom: 5px;
        
    }

    .logoimg {
        width: 440px;
        margin: 0;
    }

    .vl-transition-desktop {
        display: block;
        border-left: 4px solid #222925;
        height: 100%;  
        margin-left: 43%; 
    }

    .hl {
        width: 32%;
        margin-left: 38.2%;
    }
    
    .meaning-behind-name-flex {
        margin-top: -180px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .name-description {
        padding: 30px;
        width: 40%;
        text-align: center;
    }

    /* meaning behind name section ends here */

    /* inspiration section starts here */

    .inspirations {
        margin-left: 10%;
    }

    .inspirations h1 {
        text-align: left;
    }

    .inspirations p {
        text-align: left;
        width: 70%;
        margin-left: 0;
        margin-bottom: 40px;
    }

    /* inspirations section ends here */
    /* transition section starts here */

    .star {
        width:150px;
        height: 200px;
        padding-bottom: 30px;
    }

    .transition {
        display: flex;
        flex-direction: row-reverse;
     
    }

    .vl-transition {
        display: block;
        margin-right:70%;
        height: px;
        
    }

    /* transition section ends here */
    /* playlist section starts here */

    .flowers{
        display: block;
        width: 300px;
        margin-left: 70%;
        margin-top: -27%;
    }

    .playlist h1 {
    margin-bottom: 6%;
    }

    .playlist-box h3 {
        font-size: 17px;
    }

    .playlist-box {
        display: grid;
        grid-template-areas: 
        "song artist album";
        grid-template-columns: 3fr 3fr 2fr;
        gap: 20px;
        padding: 20px;
        margin: 0 70px 0;
    }

    .playlist-song {
        display: block;
        grid-area: song;
        margin-left: 8%;
        margin-top: 2%;
        margin-bottom: 10%;
    }

    .playlist-artist {
        display: block;
        grid-area: artist;
        margin-left: 8%;
        margin-top: 2%;
        margin-bottom: 10%;
    }

    .playlist-album {
        display: block;
        grid-area: album;
        margin-left: 8%;
        margin-top: 2%;
        margin-bottom: 10%;
    }


    .playlist-content h3 {
        margin-bottom: 20px;
    }

    .playlist-text {
        display: none;
    }

    .spotify-btn {
    margin:  20px 70px 70px;
    }

    /* playlist section ends here */
    /* footer starts here */

    footer h2 {
        padding-top: 35px;
    }

    .footer-grid {
        grid-template-areas: 
        ". footer-logo copy cookies terms policy policy"
        ". footer-logo tiktok ig soundcloud apple spotify";
        align-items: normal;
        justify-content: normal;
    }

    .footer-logo {
        width: 220px;
    }

    .footer-line {
        display: none;
    }

    .terms, .policy {
        border-left: solid 4px #222925;
        border-bottom: none;
    }

    .cookies {
        border-bottom: none;
    }

    .ig {
        border-top: solid 4px #222925;
        border-right: none;
    }

    .soundcloud {
        border-left: solid 4px #222925;
    }

    .copy {
        padding: 40px;
        border-right: solid 4px #222925;
    }

    .tiktok {
        border-top: solid 4px #222925;
        border-left: solid 4px #222925;
        border-right: solid 4px #222925;
    }

    .apple {
        border-left: solid 4px #222925;
    }

    /* footer ends here */


    .button_div {
        display: none;
    }

    .readmore {
        display: none;
    }

    span {
        display: none;
    }

    .hl-mobile {
        display: none;
    }

    .vl {
        display: none;
    
    }

    #more {display:block;}
    #more2 {display: block;}
    #more3 {display: block;}
}

.nav-active{
    transform: translateX(0%);
}

